[alias]
vacuum = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|release|main'|xargs git branch -d; git fetch --prune; };f"
[status]
showUntrackedFiles = all
[color]
ui = auto
diff = auto
status = auto
branch = auto
[merge]
ff = false
ff = false
[pull]
ff = only
ff = only
[user]
name =
email =
[fetch]
prune = true
[init]
defaultBranch = main
[core]
precomposeunicode = true
[gitflow "branch"]
master = main
# https://git-scm.com/docs/git-config#EXAMPLES
# https://blog.ksoichiro.com/ja/post/2020/01/ghqpeco/
# https://embryo.hatenadiary.com/entry/2017/11/22/201255
[ghq]
root =
